@{
    ViewData["Title"] = "ShopGI | Chào mừng đến với Shop Genshin Impact";
}

@*<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="stylesheet", href="~/css/site.css">
    </head>
    <body>

        
    </body>
</html>*@
<div class="categories">
	<div class="small-container">
		<h2 class="guide__title" align="center">Danh mục tài khoản</h2>
		<br>
		<div class="row">
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
					<a><img src="~/img/featured1.png"></a>
					<h3 class="note__title" style="color: rgb(0, 255, 204)">Acc Cao cấp</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Số tài khoản</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">4444</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã bán</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">444</h4>
					<button class="btn-pretty">Khám Phá</button>
				</div>
			</article>
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
					<a><img src="~/img/featured1.png"></a>
					<h3 class="note__title" align="center" style="color: yellow;">Acc bình dân</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Số tài khoản</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">4444</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã bán</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">444</h4>
					<button class="btn-pretty">Khám Phá</button>
				</div>
			</article>
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
					<a><img src="~/img/featured1.png"></a>
					<h3 class="note__title" align="center" style="color: rgb(180, 0, 180)">Acc Reroll</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Số tài khoản</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">4444</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã bán</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">444</h4>
					<button class="btn-pretty">Khám Phá</button>
				</div>
			</article>
			
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
					<a><img src="~/img/featured1.png"></a>
					<h3 class="note__title" align="center" style="color: rgb(0, 255, 8)">Acc Random</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Số tài khoản</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">4444</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã bán</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">444</h4>
					<button class="btn-pretty">Khám Phá</button>
				</div>
			</article>
			
		</div>

		<h2 class="guide__title" align="center">Nạp Game</h2>
		<br>
		<div class="row">
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
				<a ><img src="~/img/featured1.png"></a>
					<h3 class="note__title" align="center" style="color: rgb(0, 255, 204)">Nạp Genshin</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đang nạp</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">44</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã nạp</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">444</h4>
					<button class="btn-pretty">Nạp Ngay</button>
				</div>
			</article>
		</div>

		<h2 class="guide__title" align="center">Cày Thuê</h2>
		<br>
		<div class="row">
			<article class="col-lg-3 col-md-6 col-6">
				<div class="col-3">
					<a ><img src="~/img/featured1.png"></a>
					<h3 class="note__title" align="center" style="color: rgb(0, 255, 204)">Cày thuê</h3>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đang cày</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">4</h4>
					<h4 align="center" style="color:rgb(225, 225, 225)">Đã cày</h4>
					<h4 align="center" style="color:rgb(255, 255, 255)">44</h4>
					<button class="btn-pretty">Thuê</button>
				</div>
			</article>
		</div>

	</div>
</div>


<script src="~/javascript/script.js"></script>







