<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopGI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopGI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navigation" style="margin-left:2%">
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/logo.png" width="100px" /></a>
        </nav>
        
        <nav class="navigation" style="margin-right:auto">
            <div>
                @*<a asp-area="" asp-controller="Product" asp-action="List">Sản Phẩm</a>*@
                <a asp-area="" asp-controller="" asp-action="">Nạp tiền</a>
                <a asp-area="" asp-controller="" asp-action="">Nạp game</a>
                <a asp-area="" asp-controller="Cart" asp-action="Index">Giỏ Hàng</a>
            </div>
                
        </nav>
        <nav class="navigation">
            <div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a asp-controller="Account" asp-action="PersonalInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Xin chào @User.Identity.Name</a>
                    <a asp-controller="Account" asp-action="Logout">Đăng Xuất</a>
                }
                else
                {
                    <a asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
                    <a asp-area="" asp-controller="Account" asp-action="Register">Đăng Ký</a>
                }
            </div>

        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @*footer*@
    <footer class="footer border-top footer-distributed">
        <div class="footer-left">
            <h3>Shop <span>Genshin Impact</span></h3>

            <p class="footer-links" style="margin-bottom:-15px;margin-top:0">
                <a href="#">Chính Sách </a>
                |
                <a href="#">Điều Khoản </a>
                |
                <a href="#">Giới Thiệu </a>
                |
                <a href="#">Liên Hệ </a>
            </p>
            <p style="color:white;font-weight:100">Thời gian làm việc: nào gảnh thì dô làm :))</p>

            <p class="footer-company-name">© shopgi.cut'</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>
                    Địa chỉ: Vũng Tàu
                </p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>Hotline: +84785586647</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>Email: <a href="https://scontent.fsgn6-1.fna.fbcdn.net/v/t39.30808-6/329975313_614349517183552_6741892381898937000_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=fKF6tqJfkQIAX9Hz_WA&_nc_ht=scontent.fsgn6-1.fna&oh=00_AfBUAekf1u7_zQePhTmh8mvgW4clh3LNjCltwDTpdnw7NA&oe=643B2A0C">le**20@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>Về Shop Genshin Impact</span>
                Shop mua bán tài khoản Genshin Impact lớn nhất lớp DH20LT =))<br />
                Shop rẻ nhất và uy tín nhất<br />
                Dịch vụ : Mua Bán - Nạp Game - Cày Thuê
            </p>
            <div class="footer-icons">
                <a href="https://www.facebook.com/binhthanhle.xiaochaobonk/"><img src="~/img/fb.png" width="25px"></a>
                <a href="http://youtube.com"><img src="~/img/yt.png" width="25px"></a>
            </div>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
