<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="PersonalInfo">Xin chào @User.Identity.Name</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Đăng Xuất</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Đăng Nhập</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Đăng Ký</a>
    </li>
}
