@model ShopGI.Models.AddViewModel

@{
    ViewData["Title"] = "Sản Phẩm";
}

<h1>ADD</h1>

<h4>Add</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <img id="blah" />
                <br />
                <input asp-for="PhotoPath" id="imgInp" class="form-control" type="file" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AR" class="control-label"></label>
                <input asp-for="AR" class="form-control" />
                <span asp-validation-for="AR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Server" class="control-label"></label>
                <input asp-for="Server" class="form-control" />
                <span asp-validation-for="Server" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Champ" class="control-label"></label>
                <input asp-for="Champ" class="form-control" />
                <span asp-validation-for="Champ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Desccription" class="control-label"></label>
                <input asp-for="Desccription" class="form-control" />
                <span asp-validation-for="Desccription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accountname" class="control-label"></label>
                <input asp-for="accountname" class="form-control" />
                <span asp-validation-for="accountname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    imgInp.onchange = evt => {
        const [file] = imgInp.files
        if (file) {
            blah.src = URL.createObjectURL(file)
        }
    }
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
